.color-block {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
}

/*EJERCICIO 1*/
.ejercicio1 {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

/*EJERCICIO 2*/
.ejercicio2 {
  height: 100vh;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

/*EJERCICIO 3*/
.ejercicio3 {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}
